@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap');
body {
    background-color: #f0e3e3;
    color: #100c33;
    font-family:"Dosis", sans-serif;
    font-weight: 200;
    margin: 32px;
    text-decoration: none;
} 
#titulo {
    background-color: #e0aa77c7;
    background-image: url("imagemheader.jpg");
    background-size: cover;
    background-position: center;
    color:  rgba(95, 158, 160, 0.9);
    padding: 44px;
    text-shadow: 4px 4px 4px khaki;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
h2   {  
  margin: 50px;  
  text-align: center;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 44px;
  padding: 22px;
  justify-content: center;
  justify-items: center;
}
.container {
display: grid;
grid-gap: 35px;
}
.cartao {
    background-color: rgba(95, 158, 160, 0.5);
    border: 2px solid khaki;
    padding: 44px;
    border-radius: 8px;
}  
.cartao:hover {
    border:4px solid rgb(0 128 128); 
}

img {
    max-width: 100%;
    justify-content: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
  }
  
  /* Selecionamos os anchors dentro da nav para dar as características que desejos aos nosso links */
  nav > a {
    border-bottom: 4px solid #bbb;
    color: #424242;
    font-size: 20px;
    padding: 20px 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s; /* permite transições mais suaves de estados */
}
  
  /* Selecionamos novamente os anchors dentro do nav, mas agora apenas quando o evento de hover acontencer, alterando algumas propriedades do elemento nessa condição */
  nav > a:hover {
    background-color:  khaki;;
    border-bottom: 4px solid #7E459B;
}
.botao-white:hover {
  background-color:#7E459B;
  color: #ffffff;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}
  
  p > a {
    color: orange;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
  
  p > a:hover {
    opacity: 0.8;
}
  
  p > span {
    background-color: khaki;;
    padding: 0 4px;
  }
  footer {
    height: 120px;
    margin-top: 22px;
    background-color: #080202;
    background-image: url("imagemfooter.jpg");
    background-position: center;
  }
  
  .filtro {
      height: 100%;
      background-color: rgba(64, 72, 139, 0.5);
    }
  
    .centro {
      display: flex;
      justify-content: center;
      align-items: center;
    }